[submodule "libopencm3"]
	path = libopencm3
	url = https://github.com/libopencm3/libopencm3.git
[submodule "src/libs/CMSIS_6"]
	path = src/libs/CMSIS_6
	url = https://github.com/ARM-software/CMSIS_6.git
